// body,
// html {
// }

.c-container {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .carousel {
        width: 100%;
        height: 100%;
        display: flex;
        max-width: 1400px;
        max-height: 550px;
        overflow: hidden;
        position: relative;
    }

    .carousel-item {
        visibility: visible;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        background-color: #fff;
        flex-shrink: 0;
        position: absolute;
        z-index: 0;
        transition: 0.6s all linear;
    }

    .carousel-item__info {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        order: 1;
        left: 0;
        margin: auto;
        padding: 0 40px;
        width: 40%;

    }

    .carousel-item__image {
        width: 60%;
        height: 100%;
        order: 2;
        align-self: flex-end;
        flex-basis: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transform: translateX(100%);
        transition: 0.6s all ease-in-out;
    }

    .carousel-item__subtitle {
        font-family: 'Inter', sans-serif;
        letter-spacing: 3px;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
        color: #7E7E7E;
        font-weight: 700;
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s all ease-in-out;
    }

    .carousel-item__title {
        margin: 15px 0 0 0;
        font-family: 'Raleway';
        font-size: 44px;
        line-height: 45px;
        letter-spacing: 3px;
        font-weight: 700;
        color: $brown;
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s all ease-in-out;

        @include breakpoint-down(small) {
            font-size: 16px;
            line-height: 1;
        }
    }

    .carousel-item__description {
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s all ease-in-out;
        margin-top: 35px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #7e7e7e;
        line-height: 22px;
        margin-bottom: 35px;

        @include breakpoint-up(large) {
            font-size: 16px;
            line-height: 1.7;
        }
    }

    .carousel-item--1 .carousel-item__image {
        background-image: url('../images/d-receiving.jpg');
    }


    .carousel-item--2 .carousel-item__image {
        background-image: url('../images/d-sorting.jpg');
    }

    .carousel-item--3 .carousel-item__image {
        background-image: url('../images/d-spraying.jpg');
    }

    .carousel-item--4 .carousel-item__image {
        background-image: url('../images/d-soaking.jpg');
    }

    .carousel-item--5 .carousel-item__image {
        background-image: url('../images/d-breaking.jpg');
    }

    .carousel-item--6 .carousel-item__image {
        background-image: url('../images/d-process.jpg');
    }
    .carousel-item--7 .carousel-item__image {
        background-image: url('../images/d-filing.jpg');
    }
    .carousel-item--8 .carousel-item__image {
        background-image: url('../images/d-weighing.jpg');
    }
    .carousel-item--9 .carousel-item__image {
        background-image: url('../images/d-traying.jpg');
    }
    .carousel-item--10 .carousel-item__image {
        background-image: url('../images/d-precool.jpg');
    }
    .carousel-item--11 .carousel-item__image {
        background-image: url('../images/d-blast.jpg');
    }
    .carousel-item--12 .carousel-item__image {
        background-image: url('../images/d-vacuum.jpg');
    }
    .carousel-item--13 .carousel-item__image {
        background-image: url('../images/d-crates.jpg');
    }
    .carousel-item--14 .carousel-item__image {
        background-image: url('../images/d-cold.jpg');
    }


    // .carousel-item--7 {
    //     .carousel-item__image {
    //         background-image: url('../images/d-receiving.jpg');
    //     }
    // }

    .carousel-item__container {
        height: 100%;
        width: 100%;
    }

    .carousel-item__btn {
        width: 35%;
        color: #2C2C2C;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px;
        font-size: 11px;
        text-transform: uppercase;
        margin: 0;
        width: 35%;
        font-weight: 700;
        text-decoration: none;
        transform: translateY(25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.6s all ease-in-out;
    }

    .carousel__nav {
        position: absolute;
        right: 0;
        z-index: 2;
        background-color: #fff;
        bottom: 0;
    }

    .carousel__icon {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        fill: #5d5d5d;
    }

    .carousel__arrow {
        cursor: pointer;
        display: inline-block;
        padding: 11px 15px;
        position: relative;
    }

    .carousel__arrow:nth-child(1):after {
        content: '';
        right: -3px;
        position: absolute;
        width: 1px;
        background-color: #b0b0b0;
        height: 14px;
        top: 50%;
        margin-top: -7px;
    }

    .active {
        z-index: 1;
        display: flex;
        visibility: visible;
    }

    // .c-active .carousels-item__subtitle,
    // .c-active .carousels-item__title,
    // .c-active .carousels-item__description,
    // .c-active .carousels-item__btn {
    //     transform: translateY(0);
    //     opacity: 1;
    //     transition: 0.6s all ease-in-out;
    //     visibility: visible;
    // }

    .active {

        .carousel-item__subtitle,
        .carousel-item__title,
        .carousel-item__description,
        .carousel-item__btn {
            transform: translateY(0);
            opacity: 1;
            transition: 0.6s all ease-in-out;
            visibility: visible;
        }
    }

    .active {
        .carousel-item__image {
            transition: 0.6s all ease-in-out;
            transform: translateX(0);
        }
    }


}