.second_timeline {
    height: 100vh;
    position: relative;

    .years_contents {
        padding: 63px 0 0 88px;

        @include breakpoint-up(medium) {
            padding: 115px 0 0 235px;
        }

        @include breakpoint-up(large) {
            padding: 217px 0 0 441px;
        }
    }

    .year_number {
        left: 0;
        font-size: 18px;
        font-weight: 600;
        color: $brown;
        padding: 10px 0 0 9px;

        @include breakpoint-up(medium) {
            padding-left: 90px;
        }

        //1st 2015
        @include breakpoint-up(large) {
            font-size: 40px;
            padding-left: 170px;
        }
    }

    .year_2015 {
        //2nd 2015
        padding-top: 240px;

        @include breakpoint-up(large) {
            padding-top: 260px;
        }
    }

    .year_2016 {
        padding-top: 487px;

        @include breakpoint-up(medium) {
            padding-top: 498px;
        }

        @include breakpoint-up(large) {
            padding-top: 534px;
        }
    }

    .year_2018 {
        padding-top: 854px;

        @include breakpoint-up(large) {
            padding-top: 883px;
        }
    }

    .year_2019 {
        padding-top: 1109px;

        @include breakpoint-up(large) {
            padding-top: 1302px;
        }
    }

    .line_width {
        width: 25px;

        @include breakpoint-up(medium) {
            width: 40px;
        }

        @include breakpoint-up(large) {
            width: 70px;
        }
    }

    .line_bar_cont {
        background-color: #e5e5e5;
        top: 64px;
        bottom: 0;
        left: 64px;

        @include breakpoint-up(medium) {
            left: 164px;
        }

        @include breakpoint-up(large) {
            top: 184px;
            left: 388px;
        }
    }


    .line_2015 {
        background-color: #FFF4C0;
        height: 205px;

        @include breakpoint-up(large) {
            height: 264px;
        }
    }

    .line_bar_venturing {
        height: 234px;
        background-color: #FFEE9B;
    }

    .line_bar_2016 {
        background-color: #F4DE6E;
        height: 345px;

        @include breakpoint-up(large) {
            height: 341px;
        }
    }

    .line_bar_2018 {
        background-color: #FFF4C0;
        height: 296px;

        @include breakpoint-up(large) {
            height: 398px;
        }
    }

    .line_bar_2019 {
        background-color: #F3CA00;
        height: 296px;

        @include breakpoint-up(large) {
            height: 390px;
        }
    }

    .years_item {}

    .years_item_venturing {
        padding-top: 112px;

        @include breakpoint-up(medium) {
            padding-top: 190px;
        }
    }

    .years_vh {
        height: 100vh;
    }

    .years_item_2016 {
        padding-top: 137px;

        @include breakpoint-up(medium) {
            padding-top: 190px;
        }

        @include breakpoint-up(large) {
            //height: 100vh;
        }
    }


    .years_item_2018 {
        padding-top: 240px;

        @include breakpoint-up(medium) {
            padding-top: 290px;
        }

        @include breakpoint-up(large) {
            padding-top: 254px;
        }
    }

    .years_item_2019 {
        padding-top: 147px;

        @include breakpoint-up(medium) {
            padding-top: 185px;
        }

        @include breakpoint-up(large) {
            //padding-top: 405px;
            padding-top: 340px;
        }
    }

    .years_title {
        .years_sub {
            color: $brown;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 7px;

            @include breakpoint-up(large) {
                font-size: 30px;
            }

        }

        .years_desc {
            font-size: 16px;

            @include breakpoint-up(large) {
                font-size: 20px;
            }
        }
    }

}