.timeline {
    min-height: 100vh;
    position: relative;
    background-color: #F0EFEF;

    &__content {}

    &__title {
        text-align: center;
        color: $brown;

        @include breakpoint-up(medium) {
            font-size: 3.75rem;
            padding: 3.75rem 0 0 0;
        }

        @include breakpoint-down(small) {
            font-size: 1.875rem;
            padding: 1.25rem 0;

        }
    }

    &__years {
        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }


        @include breakpoint-down(small) {
            padding-top: 3.125rem;
        }
    }

    &__item {

        @include breakpoint-down(small) {
            display: flex;
            flex-direction: column-reverse;
        }


        .p-bot {
            margin-bottom: 1.875rem;
        }

        .text_content {
            text-align: center;

            @include breakpoint-up(medium) {
                padding: 5rem 0;
            }


            @include breakpoint-down(small) {
                padding: 1.25rem 0;
            }


            h3 {
                color: $brown;

                @include breakpoint-up(medium) {
                    font-size: 2.1875rem;
                }
            }

            p {

                @include breakpoint-up(medium) {
                    font-size: 1.125rem;
                }

                @include breakpoint-down(small) {
                    padding: .3125rem 1.875rem;
                    line-height: 1.4;
                }
            }


        }

        .circle_year {

            @include breakpoint-up(medium) {

                width: 9.6875rem;
                height: 9.6875rem;
                border-radius: 50%;
                padding-top: 3.6875rem;
                padding-left: 2.5625rem;
                margin: 0 auto;
            }

            @include breakpoint-down(small) {
                width: 5.625rem;
                height: 5.625rem;
                padding-top: 2.125rem;
                padding-left: 1.5625rem;
                border-radius: 3.125rem;
                margin: 0 auto;
            }


            p {

                @include breakpoint-up(medium) {
                    color: #fff;
                    font-size: 1.875rem;
                    font-weight: 600;
                }

                @include breakpoint-down(small) {

                    font-size: 1rem;
                    color: #ffff;
                    font-weight: 600;
                }
            }
        }
    }

    .timeline_green {
        background-color: $green;
    }

    .timeline_yellow {
        background-color: $yellow;
    }

    .dot_size {

        @include breakpoint-up(medium) {
            width: 2.5rem;
            height: 2.5rem;
            background-color: $green;
            border-radius: 50%;
        }

        @include breakpoint-down(small) {

            width: 1.375rem;
            height: 1.375rem;
            background-color: $green;
            border-radius: 3.125rem;
            z-index: 1;
        }
    }

    .time_dot1 {

        @include breakpoint-up(medium) {
            bottom: 4.0625rem;
            left: 17.1875rem;
        }


        @include breakpoint-down(small) {
            top: 11.6875rem;
        }
    }

    .time_dot2 {

        @include breakpoint-up(medium) {
            bottom: 4.0625rem;
            left: 46.3687rem;
        }

        @include breakpoint-down(small) {
            top: 25.3125rem;
        }
    }


    .time_dot3 {
        @include breakpoint-up(medium) {
            bottom: 4.0625rem;
            right: 16.4375rem;
        }

        @include breakpoint-down(small) {
            bottom: 12.5rem;
        }
    }

    .time_line {

        @include breakpoint-up(medium) {
            height: 1.125rem;
            width: auto;
            right: 0;
            left: 17.5rem;
            bottom: 4.75rem;
            background-color: $green;
        }

        @include breakpoint-down(small) {
            width: .625rem;
            background-color: $green;
            top: 12.5rem;
            left: 2.1875rem;
            bottom: 0;
        }
    }


}