.vision {
    position: relative;
    min-height: 100vh;


    &__content {
        padding-top: 5.625rem;

        @include breakpoint-up(large) {
            display: flex;
            flex-direction: row;
        }
    }

    &__hero_image {
        display: flex;
        justify-content: center;

        @include breakpoint-up(large) {
            flex: 1;
            justify-content: flex-start;
            padding-right: 1.875rem;
        }

        img {

            height: 14.75rem;
            width: 18.125rem;
            border-radius: 3.125rem;
            border: .3125rem dashed #ffde3b;
            padding: 1rem;

            @include breakpoint-up(large) {
                height: 24.0625rem;
                width: 33.75rem;
            }
        }

    }


    &__title {

        text-align: center;
        padding-top: 3.75rem;

        @include breakpoint-up(large) {
            flex: 1;
            padding-top: 7.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h2 {
            font-size: 1.875rem;
            padding-bottom: 1rem;
            color: $brown;

            @include breakpoint-up(large) {
                font-size: 3.75rem;
                text-align: left;
            }
        }

        p {
            font-size: 1.125rem;
            line-height: 1.5;

            @include breakpoint-up(large) {
                text-align: left;
                font-size: 1.3125rem;
                padding-right: 2.5rem;
            }
        }
    }


    .mini_durian {
        padding-top: 3.125rem;
        transform: scaleX(-1);

        img {
            height: 5rem;
            width: 5rem;

            @include breakpoint-up(large) {
                height: 7.375rem;
                width: 7.375rem;
            }
        }
    }

}